@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movie_Catlog_Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-tuBkN+Z1c3nIGYMeuymayGzGBpLVZfMvJ9P6L1YO3eAaZ9jd+18DgWxwqy9Kb8qRMH8dtqJ3QUGYAwBUXZWi4g==" crossorigin="anonymous" />




    <link rel="stylesheet" href="~/Movie_Catlog_Application.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="position-relative">
        <nav class="navbar navbar-expand">
            <div class="container">

                
                <a class="red" asp-controller="Home" asp-action="Index">Cinematic</a>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    @if (signInManager.IsSignedIn(User))
                    {

                        @if (User.IsInRole("admin"))
                        {
                            <a type="button" class="red-btn fw-semibold text-decoration-none " asp-controller="Admin" asp-action="Dashboard">Admin Dashboard</a>
                        }
                       

                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle  red-btn fw-semibold text-decoration-none " id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                @User.Identity!.Name!
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-action="Logout" asp-controller="UserAuthentication">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                        
                    }
                    else
                    {
                        
                        <a type="button" class=" red-btn fw-semibold text-decoration-none" asp-controller="UserAuthentication" asp-action="Login">Sign In</a>
                    }
                   
                </div>
            </div>
        </nav>


    </header>
    <div class="container-fluid ">
        <main role="main" class="p-4">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
