@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card">
                <img src="https://via.placeholder.com/200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Movie Title</h5>
                    <p class="card-text">A brief description of the movie.</p>
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://via.placeholder.com/200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Movie Title</h5>
                    <p class="card-text">A brief description of the movie.</p>
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://via.placeholder.com/200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Movie Title</h5>
                    <p class="card-text">A brief description of the movie.</p>
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="https://via.placeholder.com/200" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Movie Title</h5>
                    <p class="card-text">A brief description of the movie.</p>
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
        </div>
    </div>
 </div>
